<!--Author: Alfredo Rodriguez & Louie Lohebec-->
<!--File: index.handlebars - HBS-->
<!--Date: 12/2/2017-->

<span id="splash-overlay" class="splash"></span>
<span id="welcome" class="z-depth-4"></span>

<header class="navbar-fixed">
    <nav class="row deep-purple darken-3">
        <div class="col s12">
            <ul class="right">

                <li class="right">
                    <a href="https://github.com/alrod909" class="github" target="_blank"><i class="fa fa-github-square fa-2x"></i></a>
                </li>

                <li class="right">
                    <a href="https://www.linkedin.com/in/alfredo-wiesner" class="linkedin" target="_blank"><i
                            class="fa fa-linkedin-square fa-2x"></i></a>
                </li>

            </ul>
        </div>
    </nav>
</header>

<main class="valign-wrapper">
    <span class="container grey-text text-lighten-1 ">

      <p class="flow-text">Welcome to</p>
      <h1 class="title grey-text text-lighten-3">Divvy</h1>

      <blockquote class="flow-text">A place to catch a ride like no other!</blockquote>

      <div class="center-align">
        <!-- Dropdown Trigger -->
        <a class="btn" href="/login-page">Start<i class="material-icons right">account_circle</i></a>

      </div>

    </span>
</main>

<footer class="page-footer deep-purple darken-3">
    <div class="footer-copyright deep-purple darken-4">
        <div class="container">
            <span>Copyright ©
            <script type="text/javascript">

                //Grabs the current year and keeps the copyright updated
                document.write(new Date().getFullYear());
            </script> <a class="grey-text text-lighten-2"
                         href=""
                         target="_blank">Divvy</a> All rights reserved.</span>
        </div>
    </div>
</footer>